<h1><%= @bathroom.name %></h1>

<p>
  <%= @bathroom.address %>
  <%= @bathroom.city %>
  <%= @bathroom.state %>
  <%= @bathroom.zip %>
  <%= @bathroom.description %>
</p>

<h3>Reviews</h3>
<%= link_to "Add a Review", new_bathroom_review_path(@bathroom) %>
<ul>
  <% @reviews.each do |review| %>
  <li>
    <%= review.rating %>:<%= review.body %><%= review.created_at.strftime("%B %d %Y") %>
  </li>
  <% end %>
</ul>
